/******** main.css ********/

/**** Général *****************/

html{
    font-family: calibri ;
    font-size: 62.5%; /* Pour fixer 1rem = 10px */
    padding : 0 ; /* Pas de marge intérieure */
    background-color: #F7F7F2;
}

body{
    padding : 0 ;     /* Marge intérieure */
    margin : 1rem ;      /* Marge extérieure */
    font-size: 1.4em; /* Taille de base des caractères pour toute la page : 14px */
}

p{
    margin : 0 ;
    margin-bottom: 1rem ;
    font-family: 'roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Noto Sans', sans-serif;
}

img {
    width: 80%;
    max-width: 35rem; 
    margin: auto;
}


/**** Menu *****************/
nav{
    padding : 0 ;
    background-color : #66717E;
    /*background-color : rgb(100,100,100);*/

}

nav ul{
    padding : 0 ; margin : 0 ;
    list-style-type: none ; /* Pas de puce */
}

nav li{
    padding : 0 ; margin : 0 ;
    text-align: center; 
    border-bottom: 1px solid #DDD ;
}

nav li:last-of-type{
    border : none ; /* pas de bordure pour le dernier li */
}

nav a{
    display: block ; /* Un lien occupe toute la largeur de son père ce qui permet de cliquer ailleurs que sur le texte */ 
    color: #FFFFFF;  
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem;
}

nav a:hover{
    color: #331832;
    background-color: #C0C0C0;
    background-size: 100%;
    transition-duration: 1s;
}

@media (min-width: 400px) {

    nav ul {
        display: flex;
    }

}


/******** Entete **************************/
header{
    margin : 1rem;
    padding : 0.2rem 0.2rem 0.2rem 0.2rem ; /* marges intérieures haute, droite, basse et gauche */
    /* Image de fond, calée en bas à gauche */
    background-size: cover; /* L'image s'étend sur pour couvrir tout le fond du header */ 
    /*background-position: 0% 65% ; /* Décalage vers le bas pour que les titres s'affichent dans le ciel */
    min-height : 18vw ; /* Hauteur minimale : 45% de la largeur */
    background-size: 100%;

}


/***** Contenu principal ************/
main, aside{ /* et secondaire */
    padding : 1rem 2rem;
    color : #444 ; 
    text-align: justify ; 
    padding : 0.2rem 0.2rem 0.2rem 0.2rem ;
}

main p{padding-top : 0 ;}

main img{
    float: none; /* Pour mettre côté à côte image et texte */
    padding-left: 10rem;

}

/******* Contenu secondaire **************/
aside{ 
    padding : 1rem 3rem 2rem 3rem ; 
    border-top : 1px solid #0288D1 ; 
    text-align: justify ;
}


/***** Pied de page ************/
footer {
    background-color: #66717E;
    color: white;
    padding: 1rem 1rem 0.2rem 2rem;
    font-size: 2rem;
    position: sticky; 
}

/***** Bouton ************/
.bouton1 {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.bouton1:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em){
    .bouton1{
        display:block;
        margin:0.2em auto;
    }
} 
