/******** main.css ********/

/**** Général *****************/
*{
    padding: 0; /* Marge intérieure */
    margin: 0; /* Marge extérieure */
    font-family: 'verdana', sans-serif, arial; 
}
html{
    font-size: 62.5%; /* Pour fixer 1rem = 10px */
    background-color: #F7F7F2;
}

body{
    font-size: 2rem; /* Taille de base des caractères pour toute la page*/
    
}

main>article {
    width: 80%;
    margin: auto;
}

p{
    margin : 0 ;
    margin-bottom: 1rem ;
    padding: 1.5rem;
}

h1, h2, h3 {
    font-family: 'Lucida Sans Unicode', sans-serif;
    padding: 1rem;
}

img {
    width: 100%;
    max-width: 100rem; 
    padding: 2rem;
    margin: 3rem;
}


/**** Menu *****************/
nav{
    background-color : #66717E;

}

nav ul{
    list-style-type: none ; /* Pas de puce */
}

nav li{
    text-align: center; 
    border-bottom: 1px solid #DDD ;
}

nav li:last-of-type{
    border : none ; /* pas de bordure pour le dernier li */
}

nav a{
    display: block ; /* Un lien occupe toute la largeur de son père ce qui permet de cliquer ailleurs que sur le texte */ 
    color: #FFFFFF;  
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem;
}

nav a:hover{
    color: #331832;
    background-color: #C0C0C0;
    background-size: 100%;
    transition-duration: 1s;
}

@media (min-width: 400px) {

    nav ul {
        display: flex;
    }

}


/******** Entete **************************/
header{
    min-height : 7vw ; /* Hauteur minimale*/
    background-size: 100%; /* L'image s'étend sur pour couvrir tout le fond du header */
    width: 100%;
    height: 10rem;

}


/***** Contenu principal ************/
main{ 
    padding : 1rem 2rem;
    color : #444 ; 
    text-align: justify ; 
    padding : 0.2rem 0.2rem 0.2rem 0.2rem ;
}

main p{padding-top : 0 ;}

main img{
    float: none; /* Pour mettre côté à côte image et texte */
    padding-left: 10rem;

}

/******* Contenu secondaire **************/
aside{ 
    padding : 1rem 3rem 2rem 3rem ;
    text-align: justify ;
}


/***** Pied de page ************/
footer {
    background-color: #66717E;
    color: white;
    padding: 1rem 1rem 0.2rem 2rem;
    font-size: 2rem;
    position: absolute;
    top: 96%;
    width: 98.8%;
    height: 3.1%;
}

/***** Bouton ************/
.bouton1 {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.bouton1:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em){
    .bouton1{
        display:block;
        margin:0.2em auto;
    }
} 
