/****** Media Queries **********/
@media only screen (max-width: 40rem) {
    .liste_accueil {
        flex-basis: 15%;
    }
}


@media only screen (max-width: 50rem) {
    .liste_accueil {
        flex-basis: 15%;
    }
}

/****** Classes **********/
.liste_accueil > li {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
}