html{font-size: 62.5% ;}

body{
    background: #14485F ;
    color: #fff;
    font-family: "Roboto condensed", Arial ;
    font-size : 1.2em ;
    margin:1rem ;
}


nav {	
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-around ;
}

nav a {
	text-decoration: none;
	color: #fff;
    text-align: center ;
	position: relative;  
}

nav a::before {
		background:#fff;
		height:1px;
		content:' ';
		width:100%;
		display:block;
		position: absolute; top : 0; left : 0 ;
}

.titre {
	font-size:2rem;
    font-size: 4.5vw ;
	text-transform: uppercase;
	font-weight: 100;
    padding-top:1rem;
	display:block ;
}

.sousTitre {
	font-size:1.1rem;
    font-size: 2vw ;
    font-style: italic;
    margin-top:0.5rem;
	bottom:-1rem;
    display:block;
	position: relative;
}

nav a:hover::before,  nav a.actif::before{
	height:4px;
	
}


main{padding: 2rem ;}
h1{
    font-weight: 100;
    border-bottom: 1px rgba(255,255,255,0.8) solid ;
}

span.sousTitre{ /*etat initial*/
    opacity: 0;
    transition: 0.5s all ease; /*ease: transition douce*/
}

nav a:hover span.sousTitre{ /*etat final*/
    opacity: 1;
    bottom: 0rem;
}
