/******** look.css ********/
/*description couleurs, espacements, polices, bordures ... */


/**** Général *****************/
*{
    font-family: arial, calibri, sans-serif;
}

html{ font-size: 62.5%; }

main > article {
    padding: 1rem;
}

h1,ul,h2 {
    color:#eee;  
}

h3 {
    color:green;
    font-size:1.8rem;
    text-align: left;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: black;
}

p {
    font-size: 1.5rem;
    color: #0c2727;
    text-align:justify;
    
}

/**** Menu *****************/
a {
    padding-top: 1.5rem; 
    padding-right: 1rem;
    font-size: 3rem;
    color:  #0c2727;

}

nav > ul > li {
    text-align: center;
    width: 12.5%; /* Taille des cases menus */
    height: 100%;
}

nav a {
    display: block ;
    color: #FFFFFF;
    text-decoration: none;
    height: 4rem;
    padding-top: 1.5rem;
}

nav a:hover {
    color:#dcb872;
    background-color: #123c4d;
    transition-duration: 1s;
}

nav {
    background-color: #174b60;
}
/**** Entete *****************/
header{
    padding : 0.2rem 0;
}

h1 {
    background-color: rgba (38, 45, 55, 0.4);
}

nav li{
    margin: auto;
}

header{

}

/***** Pied de page ************/
footer {

}

/***** Class ************/
.bouton {
    display: inline-block;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    text-align: center;
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:rgb(18, 57, 73);
    color:#fff;
    width:90px;
    border-radius:2px;
    border:1px solid #ccc;
}

.images {
    margin-top: 1rem;
    height: 375px;
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} 

.opacite {
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;

}

.sousTitre {
    color: #dcb872;
}

/* Container holding the image and the text */
.container {
    position: relative;
}

/* Bottom left text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    width: 273px;
    height: 53px;
    text-align: center;

} 