/******** look.css ********/
/*description couleurs, espacements, polices, bordures ... */


/**** Général *****************/
*{
    font-family: arial, calibri, sans-serif;
}

html{ font-size: 62.5%; }

main > article {
    padding: 1rem;
}

h1,ul,h2 {
    color:#eee;  
}

h3 {
    color:green;
    font-size:1.8rem;
    text-align: left;
}

h2 {
    font-size: 3rem;
    text-align: center;
    color: black;
}

p {
    font-size: 1.5rem;
    color: #0c2727;
    text-align:justify;

}

/**** Menu *****************/
a {
    padding-top: 1.5rem; 
    font-size: 3rem;
    color:  #0c2727;

}

nav > ul > li {
    text-align: center;
    height: 100%;
}

nav a {
    display: block ;
    color: #FFFFFF;
    text-decoration: none;
    height: 4rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer a:hover, nav a:hover {
    color:#dcb872;
    background-color: #123c4d;
    transition-duration: 1s;
}

nav {
    background-color: #174b60;
}


/**** Entete *****************/
header{
}

h1 {
    background-color: rgba (38, 45, 55, 0.4);
}


/***** Pied de page ************/
footer {
    background-color: #174b60;
    height: 4rem;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}


/***** Class ************/
.bouton {
    display: inline-block;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    text-align: center;
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:rgb(18, 57, 73);
    color:#fff;
    width:90px;
    border-radius:2px;
    border:1px solid #ccc;
}


.opacite {
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;

}

.sousTitre {
    color: #dcb872;
}



/* Container holding the image and the text */
.container {
    position: relative;
    margin-top: 1rem;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover
}

#aurore {
    background-image: url("../images/aurore_boreale.jpg");
}

#chute {
    background-image: url("../images/chuteDEau.jpg");
}

#sapin {
    background-image: url("../images/sapin.jpg");
}

#fuji {
    background-image: url("../images/mount-fuji-2305606_1280.webp");
}

#hongKong {
    background-image: url("../images/hong-kong-864884_1280.webp");
}

#palais {
    background-image: url("../images/towards-the-garden.jpg");
}

#kabylie {
    background-image: url("../images/kabylie-2365667_1280.jpg");
}

#pyramides {
    background-image: url("../images/pyramids-2371501_1280.webp");
}

#plage {
    background-image: url("../images/madagascar-4287921_1280.webp");
}

#index {
    background-image: url("../images/UNF_GCASsite_sustainpage_hero.jpg");
}


/* Bottom left text */
.text-block {
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
    top: 10px;
    left: 0px;
    width: 273px;
    height: 53px;
    text-align: center;

} 

.text-block h3 {
    height: 33%;
    text-align: center;
    margin-top: 5%;
    position: relative;
}