html {
  background-color: black;
    color: white;
}

/****** Menu principal **********/

/****** Corps **********/

ul {
    display: flex;
    justify-content: space-between;
}

li {
    text-decoration: none;
    flex-basis: calc (100%/6-0.5rem);
    flex-grow: 0;
}

img{
    width: 100%;
}

/****** Classes **********/
.img_principale {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 0em) and (max-width: 20em) {
    .galerie {
        flex-basis: 90%;
    }
}

@media only screen and (min-width: 20em) and (max-width: 36em) {
    .galerie {
        flex-basis: 45%;
    }
}

@media only screen and (min-width: 36em) and (max-width: 48em) {
    .galerie {
        flex-basis: 30%;
    }
}

@media only screen and (min-width: 48em) {
    .galerie {
        flex-basis: 15%;
    }
}

/****** Pied **********/
