/*** exercice n°2 ***/
/*** zone des cartes *********/

.cartes {  
    padding: 0 1rem;
    display:flex;
    flex-wrap: wrap;
}

.carte {
    flex: 1 0 15rem;
}

@media only screen and (min-width: 0em) and (max-width: 20em) {
    .carte {
        flex-basis: 90%;
    }
}

@media only screen and (min-width: 20em) and (max-width: 36em) {
    .carte {
        flex-basis: 45%;
    }
}

@media only screen and (min-width: 36em) and (max-width: 48em) {
    .carte {
        flex-basis: 30%;
    }
}

@media only screen and (min-width: 48em) {
    .carte {
        flex-basis: 15%;
    }
}